## Genere un conjunto de datos nuevos a partir de CSV con al menos 50mil registros y prediga cuáles serían las respuestas de una nueva encuestaenel 2018.(Adjunte el análisis y el algoritmo que le permitió generar los registros manteniendo la línea de tendencia con base en las encuestas anteriores)

In [57]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [3]:
data1 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_0_16000.json')
data2 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_16000_32000.json')
data3 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_32000_48000.json')
data4 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_48000_64000.json')
data5 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_64000_80000.json')
data6 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_80000_96000.json')
data7 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_96000_112000.json')
data8 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_112000_128000.json')
data9 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_128000_144000.json')
data10 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_144000_160000.json')
data11 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_160000_160111.json')

In [4]:
Total = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10, data11], axis=0)

In [5]:
Total.columns.values

array(['AngularJS', 'C', 'CPlusPlus', 'CSS', 'CSharp', 'HTML5', 'Id_Age',
       'Id_Country', 'Id_Experience', 'Id_Gender', 'Id_Salary', 'Java',
       'JavaScript', 'Nodejs', 'ObjectiveC', 'PHP', 'Perl', 'Python',
       'Ruby', 'SQL', 'SQL_Server', 'TypeScript', 'Year', 'jQuery'],
      dtype=object)

In [6]:
Total.head()

,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,Id_Gender,...,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,Year,jQuery
0,None,None,None,None,None,None,NaN,93.0,NaN,NaN,...,None,None,None,None,None,None,None,None,2013,None
1,None,None,None,None,None,None,4.0,42.0,NaN,2.0,...,None,None,None,None,None,None,None,None,2016,None
2,None,None,None,None,None,None,5.0,152.0,NaN,2.0,...,None,None,None,None,None,None,None,None,2016,None
3,None,None,None,None,None,None,2.0,136.0,NaN,2.0,...,None,None,None,None,None,None,None,None,2016,None
4,None,None,None,None,None,None,2.0,78.0,NaN,2.0,...,None,None,None,None,None,None,None,None,2016,None

### Para crear los 50.000 registros del año 2018 se realizarán los siguientes pasos:

1. Asumiendo que el comportamiento de 2018 es similar al comportamiento de 2017, se realiza una descripción general de los datos de 2017.

2. Dado que desconocemos la distribución de probabilidad de la cual se generan los datos, se respetará la distribución de probabilidad empirica de la muestra de 2017.

3. Se crea para cada variable una función generadora de datos que siga la distribución de probabilidad, la cual utiliza como variables de entrada variables contincuas de ditribución uniformes entre 0 y 1.

4. se crea una función generadora de un registro que toma como insumos las funciones generadoras de datos

5. Se crea una función de varios registros

## Pasos 1 y 2:

In [7]:
data_2017 = Total.loc[Total["Year"]==2017].reset_index()

In [8]:
data_2017.shape

(51552, 25)

In [9]:
Total.groupby('Year').count()

,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,Id_Gender,...,Nodejs,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,jQuery
Year,,,,,,,,,,,,,,,,,,,,,
2011,0,741,740,1356,1352,0,2729,2813,2729,0,...,0,68,788,284,575,285,1613,0,0,2
2012,0,1484,1526,2824,2468,2154,5964,6243,5964,0,...,5,605,1925,461,1210,577,3294,0,0,2
2013,7,1437,1697,61,3028,9,9433,9740,6543,0,...,600,956,2325,152,1881,795,4594,0,3,4150
2014,12,1174,1418,42,2378,8,7346,7643,4941,7346,...,641,675,1710,91,1473,593,3467,0,4,21
2015,0,3613,4530,81,6950,16,25831,26087,24828,25744,...,2920,1720,6530,739,5239,1766,9440,4130,61,18
2016,8823,4521,9589,0,15283,0,55727,55528,49520,55586,...,8509,3202,12780,1624,12282,4383,24248,9306,0,0
2017,0,5591,8194,0,12503,0,0,51552,51305,51552,...,0,2358,10334,1591,11771,3350,18812,0,3497,0

In [10]:
Prob_Lang=data_2017.groupby('Year').count()/data_2017.shape[0]

In [11]:
Prob_Lang

,index,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,...,Nodejs,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,jQuery
Year,,,,,,,,,,,,,,,,,,,,,
2017,1.0,0.0,0.108454,0.158946,0.0,0.242532,0.0,0.0,1.0,0.995209,...,0.0,0.04574,0.200458,0.030862,0.228333,0.064983,0.364913,0.0,0.067834,0.0

A continuación se extrae la probabilidad de ocurrencia de los lenguajes de programación en 2017

In [25]:
from collections import OrderedDict

In [26]:
P_JavaScript = Prob_Lang.JavaScript.item()
P_JavaScript

0.44564711359404097

In [27]:
P_AngularJS = Prob_Lang.AngularJS.item()
P_C = Prob_Lang.C.item()
P_CPlusPlus = Prob_Lang.CPlusPlus.item()
P_CSS = Prob_Lang.CSS.item()
P_CSharp = Prob_Lang.CSharp.item()
P_HTML5 = Prob_Lang.HTML5.item()
P_Java = Prob_Lang.Java.item()
P_JavaScript = Prob_Lang.JavaScript.item()
P_Nodejs = Prob_Lang.Nodejs.item()
P_ObjectiveC = Prob_Lang.ObjectiveC.item()
P_PHP = Prob_Lang.PHP.item()
P_Perl = Prob_Lang.Perl.item()
P_Python = Prob_Lang.Python.item()
P_Ruby = Prob_Lang.Ruby.item()
P_SQL = Prob_Lang.SQL.item()
P_SQL_Server = Prob_Lang.SQL_Server.item()
P_TypeScript = Prob_Lang.TypeScript.item()
P_jQuery = Prob_Lang.jQuery.item()

Se crean diccionarios con los rangos de probabilidad de ocurrencia de los datos descriptivos de 2017 (dimensiones):  país, edad, experiencia, genero, salario

In [28]:
temp1 = data_2017.Id_Country.value_counts()/data_2017.shape[0]
temp2 = data_2017.Id_Age.value_counts()/data_2017.shape[0]
temp3 = data_2017.Id_Experience.value_counts()/data_2017.shape[0]
temp4 = data_2017.Id_Gender.value_counts()/data_2017.shape[0]
temp5 = data_2017.Id_Salary.value_counts()/data_2017.shape[0]

La siguiene función toma como insumo la serie de Pandas y la transforma en un diccionario ordenado de Python

In [29]:
def dic_other_vars(temp1):
    #temp = df[col].value_counts()/data_2017.shape[0]
    temp = temp1.to_frame()  #se convierte de serie de datos a data frame
    #print (temp)
    L=temp.index.tolist()  # exporta el indice a una lista
    #print (L)
    #print (temp.loc[213].item())
    #dict_var = {}
    dict_var = OrderedDict()  #se genera un diccionario ordenado vacío
    sum=0
    for key in L:
        #print (key)
        #print (temp.loc[key])
        dict_var[key]=sum+temp.loc[key].item()
        sum = sum + temp.loc[key].item()
    return dict_var

Se crean los diccionarios de probabilidades para las variables descriptivas

In [30]:
dict_Id_Country = dic_other_vars(temp1)
dict_Id_Age = dic_other_vars(temp2)
dict_Id_Experience = dic_other_vars(temp3)
dict_Id_Gender = dic_other_vars(temp4)
dict_Id_Salary = dic_other_vars(temp5)

In [33]:
dict_Id_Salary

OrderedDict([(14.0, 0.7491076970825574),
             (3.0, 0.8024518932340161),
             (1.0, 0.8526342333954066),
             (2.0, 0.8984908441961514),
             (4.0, 0.9362973308504035),
             (5.0, 0.96004034761018),
             (6.0, 0.9779639975170701),
             (7.0, 0.9898936995654872),
             (8.0, 0.9960428305400372),
             (9.0, 0.9989137181874611),
             (10.0, 0.9999999999999999)])

Para el año 2017 la variable edad esta en NULL

## Paso 3: Funciones generadoras de datos por variable

Primero la función generadora de datos para los leguajes de programación

In [35]:
import random

In [36]:
random.random()

0.6760553608427269

In [37]:
P_JavaScript

0.44564711359404097

In [38]:
def gen_L_Prog(p_lang, label):
    '''se ingresa la probabilidad de occurrencia del lenguaje y la equiqueta que se quiere generar
    '''
    output=None
    temp_p = random.random() #prob entre 0 y 1 uniforme
    #print (temp_p)
    #print (temp_p<p_lang)
    if temp_p < p_lang:
        output = label
    else: 
        pass
    return output

Prueba de la funcion para 10 datos

In [40]:
for i in range(10):
    prueba = gen_L_Prog(P_JavaScript, "JavaScript")
    print (prueba)

None
None
JavaScript
JavaScript
JavaScript
JavaScript
JavaScript
JavaScript
None
JavaScript

Ahora se definen las funciones para la generación de las otras variables descriptivas:  país, edad, experiencia, genero, salario

In [42]:
def gen_V_Desc(Input_Dict):
    temp_p = random.random() #prob entre 0 y 1 uniforme
    #print (temp_p)
    output=None
    for k,v in Input_Dict.items():
        #print (k,v)
        if temp_p < v:
            output = k
            break
    return output

prueba de generación para experiencia

In [43]:
for i in range(5):
    prueba = gen_V_Desc(dict_Id_Experience)
    print (prueba)

4.0
6.0
4.0
4.0
5.0

prueba de generación para país

In [373]:
for i in range(5):
    prueba = gen_V_Desc(dict_Id_Country)
    print (prueba)

33.0
212.0
78.0
213.0
93.0

## 4.  Función que genera un registro aleatorio con la distribución de probabilidad empírica de 2017

In [313]:
Total.columns.values

array(['AngularJS', 'C', 'CPlusPlus', 'CSS', 'CSharp', 'HTML5', 'Id_Age',
       'Id_Country', 'Id_Experience', 'Id_Gender', 'Id_Salary', 'Java',
       'JavaScript', 'Nodejs', 'ObjectiveC', 'PHP', 'Perl', 'Python',
       'Ruby', 'SQL', 'SQL_Server', 'TypeScript', 'Year', 'jQuery'],
      dtype=object)

In [44]:
def registro ():
    temp = []
    temp.append(gen_L_Prog(P_AngularJS, "AngularJS"))
    temp.append(gen_L_Prog(P_C, "C"))
    temp.append(gen_L_Prog(P_CPlusPlus, "CPlusPlus"))
    temp.append(gen_L_Prog(P_CSS, "CSS"))
    temp.append(gen_L_Prog(P_CSharp, "CSharp"))
    temp.append(gen_L_Prog(P_HTML5, "HTML5"))
    temp.append(gen_V_Desc(dict_Id_Age))
    temp.append(gen_V_Desc(dict_Id_Country))
    temp.append(gen_V_Desc(dict_Id_Experience))
    temp.append(gen_V_Desc(dict_Id_Gender))    
    temp.append(gen_V_Desc(dict_Id_Salary))       
    temp.append(gen_L_Prog(P_Java, "Java"))
    temp.append(gen_L_Prog(P_JavaScript, "JavaScript"))
    temp.append(gen_L_Prog(P_Nodejs, "Nodejs"))
    temp.append(gen_L_Prog(P_ObjectiveC, "Objective-C"))
    temp.append(gen_L_Prog(P_PHP, "PHP"))
    temp.append(gen_L_Prog(P_Perl, "Perl"))
    temp.append(gen_L_Prog(P_Python, "Python"))
    temp.append(gen_L_Prog(P_Ruby, "Ruby"))
    temp.append(gen_L_Prog(P_SQL, "SQL"))
    temp.append(gen_L_Prog(P_SQL_Server, "SQL_Server"))
    temp.append(gen_L_Prog(P_TypeScript, "TypeScript"))
    temp.append(2018)
    temp.append(gen_L_Prog(P_jQuery, "jQuery"))
    return temp

In [49]:
print (registro())

[None, None, None, None, 'CSharp', None, None, 213.0, 5.0, 2.0, 14.0, None, 'JavaScript', None, None, None, None, None, 'Ruby', None, None, None, 2018, None]

## 5. Función para generar N registros

In [60]:
def n_registros(n):
    data=[]
    for i in range(n):
        data.append(registro())
    return data

In [67]:
tabla = n_registros(50000)

In [62]:
header = ['AngularJS', 'C', 'CPlusPlus', 'CSS', 'CSharp', 'HTML5', 'Id_Age',
       'Id_Country', 'Id_Experience', 'Id_Gender', 'Id_Salary', 'Java',
       'JavaScript', 'Nodejs', 'ObjectiveC', 'PHP', 'Perl', 'Python',
       'Ruby', 'SQL', 'SQL_Server', 'TypeScript', 'Year', 'jQuery']
tabla_df = pd.DataFrame(tabla, columns = header)

In [63]:
tabla_df.head()

,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,Id_Gender,...,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,Year,jQuery
0,None,None,None,None,None,None,None,78.0,5.0,4.0,...,None,PHP,None,None,None,SQL,None,None,2018,None
1,None,C,None,None,None,None,None,212.0,4.0,4.0,...,None,PHP,None,None,None,None,None,None,2018,None
2,None,None,None,None,CSharp,None,None,212.0,6.0,4.0,...,None,None,None,None,None,None,None,None,2018,None
3,None,C,None,None,None,None,None,190.0,4.0,4.0,...,Objective-C,None,None,None,None,None,None,None,2018,None
4,None,None,CPlusPlus,None,None,None,None,98.0,6.0,4.0,...,None,None,Perl,None,None,SQL,None,None,2018,None

In [64]:
tabla_df.tail()

,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,Id_Gender,...,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,Year,jQuery
49995,None,None,None,None,None,None,None,213.0,6.0,2.0,...,None,PHP,None,None,None,None,None,None,2018,None
49996,None,None,None,None,None,None,None,213.0,6.0,2.0,...,None,PHP,None,None,None,SQL,None,None,2018,None
49997,None,None,None,None,None,None,None,33.0,4.0,2.0,...,None,None,None,None,None,None,None,None,2018,None
49998,None,C,None,None,CSharp,None,None,74.0,6.0,4.0,...,None,None,None,Python,None,None,None,None,2018,None
49999,None,None,None,None,None,None,None,213.0,5.0,2.0,...,None,None,None,None,None,None,None,None,2018,None

### DATOS TABLA 2017

In [65]:
Prob_Lang=data_2017.groupby('Year').count()/data_2017.shape[0]
Prob_Lang

,index,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,...,Nodejs,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,jQuery
Year,,,,,,,,,,,,,,,,,,,,,
2017,1.0,0.0,0.108454,0.158946,0.0,0.242532,0.0,0.0,1.0,0.995209,...,0.0,0.04574,0.200458,0.030862,0.228333,0.064983,0.364913,0.0,0.067834,0.0

## DATOS SIMULADOS 2018

In [68]:
datos_tabla_df = tabla_df.groupby('Year').count()/tabla_df.shape[0]
datos_tabla_df

,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,Id_Gender,...,Nodejs,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,jQuery
Year,,,,,,,,,,,,,,,,,,,,,
2018,0.0,0.11156,0.15854,0.0,0.24138,0.0,0.0,1.0,0.9951,1.0,...,0.0,0.04546,0.20068,0.03196,0.22738,0.06494,0.367,0.0,0.06818,0.0