# PREGUNTA 4
## Aplique MapReduce para llevar esos datos a una base de datos NoSQL que permita agrupar el número de programadores por lenguaje de programación y las respuestas por pregunta de los 5 conjuntos en paralelo* (Mediante Map Reduce).  (Adjunte la rutina en Python, SQL y/o Javascript que le permitió obtener la base de datos SQL en paralelo, deberá adjuntar evidencia del procesamiento en paralelo y hará parte de la exposición la demostración de la rutina)

#### Primero se unen los archivos json en uno solo
Se usa pandas para leer los archivo y para exportarlos de nuevo

In [2]:
import json
import pandas as pd
import os

In [3]:
data1 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_0_16000.json')
data2 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_16000_32000.json')
data3 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_32000_48000.json')
data4 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_48000_64000.json')
data5 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_64000_80000.json')
data6 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_80000_96000.json')
data7 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_96000_112000.json')
data8 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_112000_128000.json')
data9 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_128000_144000.json')
data10 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_144000_160000.json')
data11 = pd.read_json(r'.\Base_Datos_Encuestas\BD_Encuesta_160000_160111.json')

In [4]:
data1.shape

(16000, 24)

In [5]:
data10.head(5)

,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,Id_Gender,...,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,Year,jQuery
0,NaN,None,None,NaN,C#,NaN,NaN,33,6.0,4,...,None,None,None,None,None,None,NaN,None,2017,NaN
1,NaN,None,None,NaN,None,NaN,NaN,36,6.0,2,...,None,None,None,None,Ruby,None,NaN,None,2017,NaN
2,NaN,None,None,NaN,None,NaN,NaN,165,6.0,4,...,None,None,None,None,None,None,NaN,None,2017,NaN
3,NaN,None,None,NaN,C#,NaN,NaN,213,6.0,2,...,None,None,None,None,None,SQL,NaN,None,2017,NaN
4,NaN,None,None,NaN,C#,NaN,NaN,212,6.0,2,...,None,None,None,None,None,SQL,NaN,None,2017,NaN

In [6]:
Total = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10], axis=0)

In [7]:
Total.shape

(160000, 24)

In [8]:
Total.tail()

,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,Id_Gender,...,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,Year,jQuery
15995,NaN,None,None,NaN,None,NaN,NaN,210.0,4.0,4.0,...,None,None,None,None,None,None,NaN,None,2017,NaN
15996,NaN,None,None,NaN,None,NaN,NaN,213.0,6.0,4.0,...,None,None,None,None,None,None,NaN,None,2017,NaN
15997,NaN,None,None,NaN,C#,NaN,NaN,213.0,5.0,2.0,...,Objective-C,None,None,None,None,SQL,NaN,TypeScript,2017,NaN
15998,NaN,None,None,NaN,C#,NaN,NaN,56.0,6.0,2.0,...,None,None,None,None,None,SQL,NaN,TypeScript,2017,NaN
15999,NaN,None,None,NaN,C#,NaN,NaN,213.0,5.0,2.0,...,None,None,None,None,None,SQL,NaN,None,2017,NaN

In [9]:
Total = Total.reset_index()

In [10]:
Total = Total.drop(['index'], axis=1)

In [11]:
Total.tail(10)

,AngularJS,C,CPlusPlus,CSS,CSharp,HTML5,Id_Age,Id_Country,Id_Experience,Id_Gender,...,ObjectiveC,PHP,Perl,Python,Ruby,SQL,SQL_Server,TypeScript,Year,jQuery
159990,NaN,None,None,NaN,None,NaN,NaN,73.0,6.0,2.0,...,None,None,None,Python,None,SQL,NaN,None,2017,NaN
159991,NaN,None,None,NaN,None,NaN,NaN,212.0,6.0,2.0,...,None,PHP,None,Python,Ruby,SQL,NaN,None,2017,NaN
159992,NaN,None,C++,NaN,None,NaN,NaN,78.0,6.0,2.0,...,Objective-C,PHP,Perl,Python,Ruby,SQL,NaN,None,2017,NaN
159993,NaN,None,None,NaN,None,NaN,NaN,66.0,5.0,4.0,...,None,None,None,None,None,None,NaN,None,2017,NaN
159994,NaN,None,None,NaN,None,NaN,NaN,213.0,6.0,4.0,...,None,None,None,None,None,None,NaN,None,2017,NaN
159995,NaN,None,None,NaN,None,NaN,NaN,210.0,4.0,4.0,...,None,None,None,None,None,None,NaN,None,2017,NaN
159996,NaN,None,None,NaN,None,NaN,NaN,213.0,6.0,4.0,...,None,None,None,None,None,None,NaN,None,2017,NaN
159997,NaN,None,None,NaN,C#,NaN,NaN,213.0,5.0,2.0,...,Objective-C,None,None,None,None,SQL,NaN,TypeScript,2017,NaN
159998,NaN,None,None,NaN,C#,NaN,NaN,56.0,6.0,2.0,...,None,None,None,None,None,SQL,NaN,TypeScript,2017,NaN
159999,NaN,None,None,NaN,C#,NaN,NaN,213.0,5.0,2.0,...,None,None,None,None,None,SQL,NaN,None,2017,NaN

In [12]:
list(Total.columns)

['AngularJS',
 'C',
 'CPlusPlus',
 'CSS',
 'CSharp',
 'HTML5',
 'Id_Age',
 'Id_Country',
 'Id_Experience',
 'Id_Gender',
 'Id_Salary',
 'Java',
 'JavaScript',
 'Nodejs',
 'ObjectiveC',
 'PHP',
 'Perl',
 'Python',
 'Ruby',
 'SQL',
 'SQL_Server',
 'TypeScript',
 'Year',
 'jQuery']

In [38]:
Total.to_json(r'.\Base_Datos_Encuestas\Total_DBv0json', orient='values')

A continuación se carga el archivo json unificado a la base de datos en Mongodb

C:\>mongoimport.exe --db taller_MDB --collection bodega --file C:\Total_DB.json --jsonArray

<img src="./img/load_mongo.PNG">

Luego se realiza la conexión del cliente mongo con el servidor mongod.

la base de datos se llama taller_MDB y la colección se llama bodega, se cargaron 160.111 documentos:

<img src="./img/load_mongo1.PNG">

Luego se generan con javascript las funciones map y reduce para responder a la pregunta:  numero de programadores por lenguaje de programación?

Numero de programadores de AngularJS:  8.842

<img src="./img/Mongo_conteo_AngularJS.PNG">


Numero de programadores de C:  18.560



<img src="./img/Mongo_conteo_C.PNG">



Numero de programadores de C++: 27.693



<img src="./img/Mongo_conteo_C++.PNG">


Numero de programadores de CSS: 4.364



<img src="./img/Mongo_conteo_CSS.PNG">


Numero de programadores de C#: 43.961



<img src="./img/Mongo_conteo_C#.PNG">


Numero de programadores de HTML5: 2.187



<img src="./img/Mongo_conteo_HTML5.PNG">


Numero de programadores de ObjectiveC: 9.583



<img src="./img/Mongo_conteo_ObjectiveC.PNG">
 


Numero de programadores de PHP: 36.341



<img src="./img/Mongo_conteo_PHP.PNG">


Numero de programadores de Perl: 4.941



<img src="./img/Mongo_conteo_Perl.PNG">


Numero de programadores de Python: 34.430



<img src="./img/Mongo_conteo_Python.PNG">



Numero de programadores de Ruby: 11.748



<img src="./img/Mongo_conteo_Ruby.PNG">


Numero de programadores de SQL: 65.467



<img src="./img/Mongo_conteo_SQL.PNG">


Numero de programadores de SQL_Server: 13.435


<img src="./img/Mongo_conteo_SQL_Server.PNG">


Numero de programadores de TypeScript:  3.565



<img src="./img/Mongo_conteo_TypeScript.PNG">


Numero de programadores de jQuery: 4.193



<img src="./img/Mongo_conteo_jQuery.PNG">

### En resumen, durante los 7 años de encuestas, estos son los programadores por programa

Numero de programadores de JavaScript: 75.386

Numero de programadores de SQL: 65.467

Numero de programadores de Java: 52.531

Numero de programadores de C#: 43.961

Numero de programadores de PHP: 36.341

Numero de programadores de Python: 34.430

Numero de programadores de C++: 27.693

Numero de programadores de C:  18.560

Numero de programadores de SQL_Server: 13.435

Numero de programadores de Ruby: 11.748

Numero de programadores de ObjectiveC: 9.583

Numero de programadores de AngularJS:  8.842

Numero de programadores de CSS: 4.364

Numero de programadores de Perl: 4.941

Numero de programadores de jQuery: 4.193

Numero de programadores de TypeScript:  3.565

Numero de programadores de HTML5: 2.187

## Existe una mejor manera de aplicar el Map Reduce a través de un loop de JS

In [13]:
%%js

var m = function() {
    var lang= ["AngularJS","C","CPlusPlus","CSharp","CSS","HTML5","Java","JavaScript","jQuery","Nodejs","ObjectiveC","Perl","PHP","Python","Ruby","SQL","SQL_Server","TypeScript"];
    for(var i = 0; i < lang.length; i++){
        if(this[lang[i]] !== null){
            emit(this[lang[i]], 1);
            }
        }
  };
  var r = function(C,i) {
      return Array.sum(i);
  };
  db.bodega.mapReduce(m, r, {out: {inline:true}})

los resultados obtenidos son

In [2]:
%%js

{
        "results" : [
                {
                        "_id" : "AngularJS",
                        "value" : 8842
                },
                {
                        "_id" : "C",
                        "value" : 18560
                },
                {
                        "_id" : "C#",
                        "value" : 43961
                },
                {
                        "_id" : "C++",
                        "value" : 27693
                },
                {
                        "_id" : "CSS",
                        "value" : 4364
                },
                {
                        "_id" : "Current Lang & Tech: C",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: C#",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: C++",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: Java",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: JavaScript",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: Node.js",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: Objective-C",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: PHP",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: Perl",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: Python",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: Ruby",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: SQL",
                        "value" : 1
                },
                {
                        "_id" : "Current Lang & Tech: SQL Server",
                        "value" : 1
                },
                {
                        "_id" : "HTML5",
                        "value" : 2187
                },
                {
                        "_id" : "Java",
                        "value" : 52531
                },
                {
                        "_id" : "JavaScript",
                        "value" : 75386
                },
                {
                        "_id" : "Node",
                        "value" : 5
                },
                {
                        "_id" : "Node.js",
                        "value" : 12669
                },
                {
                        "_id" : "Objective-C",
                        "value" : 9583
                },
                {
                        "_id" : "PHP",
                        "value" : 36391
                },
                {
                        "_id" : "Perl",
                        "value" : 4941
                },
                {
                        "_id" : "Python",
                        "value" : 34430
                },
                {
                        "_id" : "Ruby",
                        "value" : 11748
                },
                {
                        "_id" : "SQL",
                        "value" : 65467
                },
                {
                        "_id" : "SQL Server",
                        "value" : 13435
                },
                {
                        "_id" : "TypeScript",
                        "value" : 3565
                },
                {
                        "_id" : "jQuery",
                        "value" : 4193
                }
        ],
        "timeMillis" : 4231,
        "counts" : {
                "input" : 160111,
                "emit" : 429964,
                "reduce" : 17446,
                "output" : 32
        },
        "ok" : 1
}